/* CSS Document */

.flasGrid {
    display: grid;
    grid-template-areas:
        'title    title'
        'bfph     dynatxt'
        'effect   clrng'
        'loops    jack';
    grid-gap: 10px;
    background-color: deepskyblue;
    padding: 10px;
    grid-area: title;
    grid-area: bfph;
    grid-area: dynatxt;
    grid-area: effect;
    grid-area: clrng;
    grid-area: loops;
    grid-area: jack;
}

.flasGrid > div {
    background-color: deepskyblue;
    padding: 20px;
    font-size: 30px;
}

#title {
    margin-top: 60px;
    grid-area: title;
    text-align: center;
    font-size: 40px;
}

#bfph, #dynatxt, #effect, #clrng, #loops, #jack {
    justify-self: center;
    align-self: center;
}

/* #marvel > a > img, #pisces > a > img, #signs > a > img, #arcimboldo > a > img {
     width: 344px;
} */

#bfph {
    grid-area: bfph;
}

#dynatxt {
    grid-area: dynatxt;
}

#effect {
    grid-area: effect;
}

#clrng {
    grid-area: clrng;
}

#loops {
    grid-area: loops;
}

#jack {
    grid-area: jack;
}

@media (max-width: 768px) {
    #title { font-size: 25px; }
}

@media (max-width: 576px) {
    .flasGrid {
        grid-template-areas:
            'title'
            'bfph'
            'dynatxt'
            'effect'
            'clrng'
            'loops'
            'jack';
    }
    #title { font-size: 20px; }
}